.header__container {
  padding: 2vh;
  display: flex;
  flex-direction: row;
  align-self: center;
  width: 90%;
  margin: 2vh auto;
  background-color: white;
  border-radius: 4px;
  box-shadow: 2px 2px rgb(179, 179, 179);
}

.header__subcontainer {
  display: flex;
  flex-direction: row;
  align-self: center;
  margin-bottom: 2vh;
  margin-right: 6vh;
}

.header__svg {
  max-height: 5vh;
  width: 5vh;
  fill: blue;
}

.header__name {
  margin: 0;
  display: flex;
  text-align: center;
  text-transform: uppercase;
  font-weight: 700;
  margin-left: 1.5vh;
}
