<div class="materials__container">
  <h2 class="materials__title">Table</h2>
  <table class="materials__table">
    <thead class="materials__table-header">
      <tr>
        <th>Name</th>
        <th>Cost</th>
        <th>Green Cost</th>
        <th>Quality</th>
        <th>Shipping Date</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let material of filteredMaterials">
        <td>{{ material.label }}</td>
        <td>{{ material.cost }}</td>
        <td>{{ material.greencost }}</td>
        <td>{{ material.quality }}</td>
        <td>{{ material.shippingdate | date : "dd/MM/yy" }}</td>
      </tr>
    </tbody>
  </table>
</div>
